*.aux
*.exo
*.o
*.g
*.e
*.g.*
*.e.*
.libs
.DS_Store
.deps
*.lo
*.la
*.a
*.so
*.so.*
*.dylib
*.log
*.log.*
*~
*.cproject
*.project
*.settings
*ioss.doxygen.warn
*ioss.tags
UserInterfaceState.xcuserstate
